<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ar-Men - Utopie</title>
    <link rel="icon" type="image/png" href="/static/armen.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/app.css">
    <script src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://intercoolerreleases-leaddynocom.netdna-ssl.com/intercooler-1.2.1.min.js"></script>
    <script src='/static/js/app.js'></script>
</head>
<body>
    <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <span class="has-text-weight-semibold is-size-4">Utopie</span>
                </a>
                <a role="button" class="navbar-burger" data-target="dtNavMenu" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="dtNavMenu" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item[% $active eq 'S' ? ' is-active' : '' %]" href="/services">
                        <span class="icon has-text-black">
                            <i class="fas fa-server" aria-hidden="true"></i>
                        </span>
                        <span>Services</span>
                    </a>
                    <a class="navbar-item[% $active eq 'W' ? ' is-active' : '' %]" href="/workers">
                        <span class="icon has-text-black">
                            <i class="fas fa-cogs" aria-hidden="true"></i>
                        </span>
                        <span>Workers</span>
                    </a>
                </div>
                <div class="navbar-end">
                    <span class="navbar-item">TODO</span>
                </div>
            </div>
        </div>
    </nav>
    <section class="section main">
        <div class="container">
            <h1 class="title is-4">[% $title %]</h1>
            [% $content %]
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>Utopie v[% $version %] © 2018 losyme</p>
                <p>
                    <a class="button" href="https://github.com/Ar-Men">
                        <span class="icon">
                            <i class="fab fa-github"></i>
                        </span>
                        <span>Ar-Men</span>
                    </a>
                </p>
            </div>
        </div>
    </footer>
</body>
</html>
